* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2a2828;
    --secondary-color: #e23333;
    --tone-main-color: #c2c2c2;
    --light-color: #edf2f4;
    --dark-color: #8d99ae;
    --background-color: #2b2d42;
    --padding-text: 15px 20px;
    --height-btn: 40px;
    --height-header: 40px;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--light-color);
    width: 100%;
}

main {
    width: 100%;
}

header {
    position: relative;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 90px auto 50px;
    align-items: center;
    padding: 0px 0px 0px 30px;
    width: 100%;
    height: var(--height-header);
    
}

header span, header button {
    color: rgb(255, 255, 255);
}


header  span:first-child {
    font-family: "Share Tech";
}

@keyframes SlideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes SlideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}
.navigation {
    position: relative;
    text-align: center;
    z-index: -1;
    width: 100%;
    background-color: var(--tone-main-color);
    transform: translateY(-100%);
    display: none;
}


.navigation.open {
    display: block;
    animation: SlideIn .3s forwards;
    width: 100%;
}

.navigation.close {
    display: block;
    animation: SlideOut .3s forwards;
    width: 100%;
}

#nav-bar li {
    list-style: none;
    padding: 10px;
}

#nav-bar li:hover {
    background-color: var(--secondary-color);
}

#nav-bar li.current {
    background-color: var(--secondary-color);
    height: auto;
    border: 1px dashed white;
}

#nav-bar li.current a {
    color: #ffffff;
}



#nav-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: small;
}

#ham-btn {
    background-color: var(--main-color);
    width: 100%;
    height: var(--height-btn);
    border: none;
}

.hamburguer::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before {
    content: "\00D7";
    font-size: 2rem;
}



button {
    border: none;
    
}
main h1 {
    padding-left: 30px;
}
h1,
h2,
h3 {
    padding: 30px 0;
    font-family: "Montserrat Alternates", sans-serif;
}
p {
    line-height: 2.5rem;
}

#call-to-action {
    background-color: #8c0d07;
    padding: 10px 15px;
    margin-top: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#section-presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#section-presentation div span{
    color: #8c0d07;
}

#principal {
    width: 100%;
    
}
#principal section {
    padding: 30px;
}

#profile-container {

    display: flex;
    justify-content: center;
    align-items: center;

}
#profile-container img {
    border-radius: 100%;
    width: 50%;
    height: auto;
    background: linear-gradient(to right, #8c0d07, #956e6e);
}
#technologies-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--tone-main-color);
}
#technologies-container div {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 44px 20px;
    grid-template-areas: 
    "img1"
    "text1"
    ;
    padding: 5px;
    
}
#technologies-container img {
    grid-area: img1;
    padding: 5px;
    margin: 0 auto;

}
#technologies-container p {
    text-align: center;
    line-height: 1rem;
    font-size: small;
    grid-area: text1;
    color: rgb(0, 0, 0);
}

#section-education {
    width: 100%;
}
#section-education {
    width: 100%;
    
}
#section-education span {
    color: #8c0d07;
}
.university-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}
.university-container {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 60px;
    border-bottom: 1px solid rgb(212, 205, 205);
}
#section-certificates {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#section-certificates div {
    position: relative;
    border-radius: 0 1rem 1rem 0;
    padding: 30px;
    width: 300px;
    background-color: #a39f9f;
    border-left: 15px solid var(--main-color);
    cursor: pointer;

}

.btn-format {
    position: absolute;
    bottom: -15px;
        /* negativo para que sobresalga hacia arriba */
    left: 50%;
    border-radius: 20px ;
    background-color: #8c0d07;
    padding:10px 15px;
    color: var(--light-color);
    cursor: pointer;
}










