@media screen and (min-width: 1024px) {

    header {
        background-color: var(--main-color);
        grid-template-columns: 180px auto;
        padding: 0px 120px 0px 30px;
        
    }

    #nav-bar {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        transform: none;
        z-index: 0;
        padding-left: 30px;
    }
    
    #nav-bar ul {
        display: flex;
        flex-direction: row;
    }
    #ham-btn {
        display: none;
    }
    
    h1, h2, h3 {
        line-height: 3rem;
        font-family: "Montserrat Alternates", sans-serif;
    }
    main h1 {
        padding-left: 30px;
    }
    #content-presentation {
        grid-area: content-presentation;
    }
    #principal {
        width: 100%;
    }
    
    
    #section-presentation {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "content-presentation profile-container"
        "technologies-container technologies-container"
        ;
    }
    #profile-container {
        grid-area: profile-container;
        width: 100%;
        
    }
    #profile-container img {
        width: 80%;
        height: 100%;
    }
    #technologies-container {
        gap: 20px;
        grid-area: technologies-container;
    }
    #education-container {
        border-bottom: 1px solid rgb(203, 198, 198);;
    }
    #section-education {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .university-container {
        
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        align-self: center;
        text-align: center;
        border: none;
        
    }
    .university-container img {
        width: auto;
        object-fit: contain;
        height: 100px;
    }

    
    
    
}