* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COLORS */

:root{
    --primary-color: #fca311;
    --secondary-color: #14213d;
    --background-color: #e5e5e5;
    --text-color-on-white: var(--secondary-color);
    --text-color-on-dark: var(--primary-color);
    --padding-title: 10px;
    --padding-paragraph: 10px;
}

