/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-color: #ffc328;
  --secondary-color: #14213d;
  --background-color: #dddcdc;
  --text-color-on-whites: var(--secondary-color);
  --text-color-on-darks: var(--primary-color);
  --header-color: var(--secondary-color);
  --accent-header-color: #ffffff;
  --color-links-header: var(--text-color-on-whites);
  --padding-title: 10px;
  --padding-paragraph: 10px;

  --main-font: "Libertinus Serif Display";
  --titles-font: "Jost", sans-serif;
}

/* BASE */
body {
  background-color: var(--background-color);
  font-family: var(--main-font);
  font-weight: 500;
}

h1, h2, h3, h4, h5, header span {
  font-family: var(--titles-font);
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 44px auto 44px;
  align-items: center;
  column-gap: 8px;
  padding: 5px 0 5px 10px;
  height: 90px;

  color: var(--text-color-on-darks);
  background-color: var(--header-color);
  border-bottom: 1px solid #ddd;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
}

/* MAIN */
main {
  background-color: #fff;
}

main h1 {
  margin: 0;
  padding: 15px 0 30px 30px;
  border-bottom: 1px solid;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.4);
}

/* HAMBURGER NAVIGATION */
.hamburguer {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}

.hamburguer::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburguer.show::before {
  content: "\00D7";
}

/* NAVIGATION */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  text-align: center;

  text-decoration: none;
  color: var(--color-links-header);
  background-color: var(--accent-header-color);
  border-bottom: 1px solid #ddd;

  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.navigation a:hover,
.current a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}



/* FOOTER */
footer {
  width: 100%;
  background-color: var(--secondary-color);
}

footer div {
  padding: 30px 0;
}

footer p {
  font-size: 14px;
  line-height: 1.4;
  color: var(--primary-color);
}

#footer-info {
  padding-top: 0;
}

#footer-info div {
  padding-left: 30px;
  border-top: 1px solid #48484867;
}

#updated {
  padding-bottom: 0;
}

/* FOOTER SOCIAL */
.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border: 1px dashed #fff;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover,
.social img:hover {
  background-color: #d7d7d7;
}

/* DIRECTORY CONTAINER */
#directory-container {
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

#directory-container div {
  width: 100%;
  padding: 30px;
  border: 1px solid #cfcbcb;
  transition: background-color 0.3s;
}

#directory-container div:hover {
  background-color: #eaeae8;
}

#directory-container img {
  padding: 15px;
}

#directory-container div img.show{
    display: none;
}

/* BUTTONS */
#buttons {
  width: 100%;
  text-align: center;
  padding: 0 0 30px;
}

#buttons button {
  margin-top: 30px;
  padding: 10px 24px;

  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* GRID VIEW por defecto */
#directory-container.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}

/* LIST VIEW */
#directory-container.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ocultar imágenes en vista lista */
#directory-container.list-view img {
    display: none;
}

#directory-container.list-view div {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



/* SECOND PART  */

/* HERO IMG  */

#hero-img-picture {
  width: 100%;
}

#hero-img-picture img {
  width: 100%;
  height: auto;
}



/* Picture styles  */
#cta-container {
  position: relative;
  margin-top: 0;
}
#hero-img-picture img {
  display: block;
  width: 100%;
  height: auto;
}
.cta-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  padding: 20px 30px;
  text-align: center;
  

  /* CENTER THE ELEMENTS */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta-text {
  color: var(--secondary-color);
  margin-bottom: 12px;
}
.cta-button, #submitBtn {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  display: block;
  padding: 0.8rem 15%;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
/* EFFECTS PRESSING ON THE BUTTON */
.cta-button:hover, #submitBtn:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.cta-button:active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* WEATHER SECTION  */

.section-box {
  padding: 0 10px;
}

.section-box div {
  background-color: #cfd7e6;
}

#sections-container {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 #sections-container div div {
  padding: 15px;
 }

#sections-container div h2 {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
}

#capitalize-weather-description{
  text-transform: capitalize;
}

#info-weather {
  width: 100%;
  
  display: grid;
  grid-template-columns: 25% 75%;
}

#info-weather img {
  width: 60px;
  margin: 15px auto;
}
#info-weather div, #forecast-weather {
  padding: 15px;
}

#forecast-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#company-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 10px 10px;
  gap: 10px;
}

#company-section div {
  background-color: #cfd7e6;
  width: 100%;
  border-radius: 10px;
}

.photo-text-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  background-color: #ffc328;
  padding: 15px;
  gap: 15px;
}

#company-section > div > p {
  color: #393d3d;
  border-bottom: 1px solid #b6b5b5 ;
  padding-bottom: 10px;
}

#company-section h3 {
  padding-top: 10px;
}

.photo-text-div img {
  width: 100px;
  height: 100px;
  padding: 15px;
}


/* CSS FOR LABELS */



input, select, textarea{
  display: block;
  margin-bottom: 20px;
}


.wf1 input:required {
  border-left: solid 5px red;
}

.wf1 input:required:valid {
  border-left: solid 5px green;
}

/* FORM SECTION  */

#submitBtn {
  margin: 0 auto;
}

#form-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}



section form, section div {
  background-color: #e8f1f1;
  width: 100%;
  padding: 30px;
}

section div {
  background-color: blueviolet;
}
.wf1 label {
  text-align: left;
}

label input, label select, label textarea {
  width: 100%;
  padding: 10px;
}

#membershipContainer h3 {
  padding-bottom: 15px;
  color: #e8f1f1;
}

#membershipContainer div {
  margin: 10px auto;
  background-color: #14213d;
  text-align: center;
}

#membershipContainer button {
  padding: 10px 15px;
  background-color: var(--primary-color);
}

/* CSS FOR DIALOG  */

dialog[open]::backdrop {
  background: rgb(0 0 0 / 70%);
}

dialog[open] {
  background-color: var(--secondary-color);
  border: none;
  width: 50%;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog[open] p {
  padding: 0.5rem 0;
  color: #ddd;
}

dialog[open] h3 {
  padding: 0.5rem 0;
  color: var(--primary-color);
}

dialog[open] button {
  background-color: var(--primary-color);
  border: none;
  padding: 15px;
}