@media only screen and (min-width:768px) {
    header,
    main,
    nav,
    footer {
        width: 100%;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: center;
    }
    
    header img {
        width: 44px;
    }

    .hamburguer {
        display: none;
    }
    /********* CODE FOR NAVIGATION BAR ***********/
    .navigation {
        display: block;
        padding: 0 10px 5px 10px;
        border-bottom: 0px solid #38040e;
        /* opcional, si quieres un borde visible */
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }

    .navigation ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        
    }
    .navigation li {
        width: 100%;
        margin: 0 1px;
        
    }
    
    .navigation a {
        border: none;
        width: 100%;
    }

    #directory-container {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        text-align: center;
        width: 80%;
    }
    #directory-container div {
        width: 100%;
    }
    #footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #footer-info div {
        width: 100%;
        height: 100%;
        
        margin: 0;
        border: 0;
    }
    #address-chamber {
        grid-column: 1/2;
    }
    #updated {
        grid-column: 3/4;
    }


    /* SECTIONS CONTAINER  */

    /* #sections-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 30px;
    }
    .section-box {
        flex: 1;
    } */

    #sections-container {
        width: 100%;
        display: grid;
        grid-template-columns: 40% auto auto;
        align-items: stretch;
        padding: 15px 30px;
        margin: 0;
    }

        /* #company-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 25px 10px 10px;
            gap: 10px;
        } */

    #company-section {

        flex-direction: row;
        align-items: start;
        padding: 15px 30px;
        gap: 30px;
    }

    #sections-container > div {
        height: 100%;
    }

    /* CSS FOR LARGE VIEW FORM SECTION  */

    #form-section {
        flex-direction: row;
    }

    #form-section h2 {
        display: inline;
    }



    
}