@media only screen and (min-width:80rem) {
    header, main, nav, footer {
        max-width: 1024px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburguer {
        display: none;
    }

    /********* CODE FOR NAVIGATION BAR ***********/
    .navigation {
        display: block;
        padding: 0 0 5px 10px;
        border-bottom: 0px solid #38040e;
            /* opcional, si quieres un borde visible */
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .current a {
        border: var(--secondary-color) dashed 1px;
        border-top: none;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 8px;
        row-gap: 8px;
    }

    #student-courses {
        grid-column: 1/3;
    }

    #photo-container img {
        width: 50%;
    }
}